/* Basic styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgb(36, 36, 36) 0%,rgb(36, 36, 36) 25%, rgb(99, 99, 99)50%,rgb(36, 36, 36) 75%,rgb(36, 36, 36) 100%);
    color: #d4d4d4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

nav a{
    color: #d4d4d4;
    text-decoration: none;
}

main {
    flex: 1;
    padding: 2rem;
    text-align: center;
}

button {
    background-color: #5cb85c;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

    button:hover {
        background-color: #00BFFF;
    }

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}
