*{
	margin:0px;
	padding:0px;}
body{
	font-family:sans-serif;
	min-height: 360vh;
	}
nav{
	width: 100%;
	height: 60px;
	background-color:rgba(0,0,0,0.2);
}
nav p {
	color:#fff;
	font-size:24px;
	font-family: sans-serif;
	line-height: 55px;
	float:left;
	padding: 0 40px 0 40px}
nav ul {
	display: inline-flex;
	float:left;}
nav ul li{
	float:left;
	list-style:none;
	color:#fff;
	position:relative;
	margin-right: 20px;}
nav ul li a{
	display:block;
	font-family: sans-serif;
	color:#fff;
	font-size:14px;
	position:relative;
	top:6px;
	padding:16px 20px;
	border-radius: 4px;
	text-decoration: none;}
nav ul li a:hover{
	background-color: #1255FF;}
nav ul li ul{
	display:none;
	position:absolute;
	background-color:rgb(000,000,100);
	padding:10px;
	border-radius:4px 4px 4px 4px;}
nav ul li:hover ul {
	position:absolute;
	top:3.4em;
	display:block;
	background-color: rgba(0, 0, 0,0.2)}
nav ul li ul li{
	width: 180px;
	padding-bottom:12px;
	border-radius:4px 4px 0 0;
	border-bottom: 1px dotted #fff;}
nav ul li ul li:last-child{
	border-bottom:none;}
nav ul li ul li a {
	padding:8px 14px 8px 14px;}
nav ul li ul li a:hover{
	background-color: #1255FF;}
h3{
	text-align: center;
	font-size:50px;
	color:black;
}
section{
	z-index:-2;
	position:relative;
	bottom:100px;
	width:100%;
	height:100vh;
	background-image:url("aboutMeImg/backgroundHome.jpg");
	background-size:cover;
	background-attachment: fixed;
	background-color:black;
	background-filter:brightness(60%);
	display:flex;
	justify-content:center;
	align-items:center;
	clip-path: circle(600vh at 50% -500vh);
	animation: slide 20s infinite;
}
section .content{
	max-width:1000px;
	text-align: center;
}
section .content h1{
	text-transform: uppercase;
	font-size:5em;
	font-color:white;
	font-weight:700;
	position:relative;
}
section .content h2{
	position:relative;
	bottom:50px;
	font-size:2em;
	color:white;
}
.Logo{
	float:left;
	margin-left: 20px;
		margin-right: 20px;
	display: inline-block;
	width:5%;
}
.inv{
	color:rbga(0,0,0,0);
}
.link {
  position: relative;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.link:hover .image {
  opacity: 0.3;
}

.link:hover .middle {
  opacity: 1;
}

.text {
  background-color: rgba(18,85,255,0.7);
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  border-radius: 30px;
}
.active{
	background-color:#1255FF ;
    border-radius: 3px;
}
.text-block{
	margin-bottom: 5em;
	min-width: 100%;
	color:black;
	font-size:24px;
	font-weight:600;
	padding: 20px;
	border-radius: 0 50px 0 50px ;
	background-color:white;
	text-align: center;
	box-shadow: -10px 10px grey;}
.imgSideRight{
	z-index: -1;
	position:absolute;
	top:760px;
	left:560px;
	width:600px;
	height:400px;
}
.title{
	text-align: center;
	color:white;
	font-size:45px;
	padding-bottom: 60px;}
.title2{
	text-align: center;
	color:black;
	font-size:45px;
	padding-bottom: 60px;}
.userName:hover{
    } 
.navv{
	width: 100%;
	height: 500px;
	background-color:#fff;
    position:relitive;
    bottom:800px;
}
.Container {
    width: 90%;
    min-width: 500px;
    margin: auto;
}
.containerImg{
	display:flex;
	align-items:center;
	justify-content:center;
	margin:190px 100px 0 600px;
}
.leftImg{
	z-index: -1;
	width:500px;
	position:absolute;
	top:900px;
	left:10%;
}
.edu{
	font-size: 20px;
	padding:50px;
	margin:0 3em 0 3em;
}
.image{
	align-self: center;
}
.wrapper{
	margin:6em 10em 6em 10em;
	display:grid;
	grid-template-columns: 1fr;
	grid-column-gap: 2em;
	align-content: center;
	border-radius: 40px;
}
.wrapperB {
	z-index: -2;
	position:relative;
	background-image:url("aboutMeImg/Education.png");
	background-attachment: fixed;
	background-filter:opacity(0.5);
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 40px;
}
.wrapperC {
	z-index: -2;
	position:relative;
	background-image:url("aboutMeImg/plan.jpg");
	background-attachment: fixed;
	background-filter:opacity(0.5);
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 40px;
}
.white {
	background-color:rgba(255,255,255,0.6);
	border:thick solid black;
	border-radius: 30px;
	box-shadow: 0 5px 15px rgba(0,0,0,.5)
}
.note {
  font-size: 16px;
  padding: 16px 32px;
  border-radius: 30px;
}
@keyframes slide {
	0%{
		background-image: url("aboutMeImg/backgroundHome.jpg");
	}
	25%{
		background-image: url("aboutMeImg/coding.jpg");
	}
	50%{
		background-image: url("aboutMeImg/backgroundHome.jpg");
	}
	75%{
		background-image: url("aboutMeImg/coding.jpg");
	}

}